<template>
  <v-container>
    <v-banner two-line>
      <v-avatar color="deep-purple accent-4" size="40">
        <v-icon icon="mdi-lock" color="white" size="25">
          mdi-book-information-variant
        </v-icon>
      </v-avatar>
      <strong class="text-grey-darken-1 pl-4">WEB問合せフォーム</strong>
    </v-banner>
    <div class="pt-4">
      <v-card class="mx-auto" title="お問合せ" rounded="lg">
        <v-card-text>
          <v-row class="pa-0">
            <v-col cols="12" sm="6" class="pb-0">
              <div class="text-subtitle-1 text-medium-emphasis">問合せ内容</div>
              <v-select
                :items="items"
                density="compact"
                variant="outlined"
                color="deep-purple accent-4"
                v-model="subject"
              ></v-select>
            </v-col>
          </v-row>

          <v-row class="pa-0">
            <v-col cols="12" sm="6" class="pt-0 pb-0">
              <div class="text-subtitle-1 text-medium-emphasis">氏名</div>
              <v-text-field
                v-model="customer_name"
                density="compact"
                variant="outlined"
                color="deep-purple accent-4"
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="6" class="pt-0 pb-0">
              <div class="text-subtitle-1 text-medium-emphasis">
                メールアドレス
              </div>
              <v-text-field
                v-model="email_address"
                density="compact"
                variant="outlined"
                color="deep-purple accent-4"
              ></v-text-field>
            </v-col>
          </v-row>

          <MoneyForm v-if="isMoneyCase" />
          <OtherForm v-if="isOtherForm" ref="OtherForm" />

          <v-row v-if="isShowDetail">
            <v-col cols="12" class="pt-0 pb-0">
              <v-textarea
                v-model="description"
                auto-grow
                variant="outlined"
                rows="6"
                row-height="40"
                shaped
                label="問合せ内容"
              ></v-textarea>
            </v-col>
          </v-row>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-btn color="deep-purple accent-4" @click="submit()">
            送信する
          </v-btn>
        </v-card-actions>
      </v-card>
    </div>
  </v-container>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import MoneyForm from "@/components/MoneyForm.vue";
import OtherForm from "@/components/OtherForm.vue";
import { ParamModel } from "@/ts/models/ParamModel";
import { Endpoint } from "@/ts/server/common/Endpoint";
import { otherFormStore } from "@/store/otherFormStore";

@Options({ components: { MoneyForm, OtherForm } })
export default class HomeView extends Vue {
  public otherStore = otherFormStore();
  public items = [
    "ログイン・パスワードについて",
    "売買・注文について",
    "入出金について",
    "その他",
  ];
  public subject = "";
  public customer_name = "";
  public email_address = "";
  public description = "";

  get isShowDetail() {
    return this.subject != "" && this.subject != this.items[2];
  }

  get isMoneyCase() {
    return this.subject == this.items[2];
  }

  get isOtherForm() {
    return this.subject == this.items[3];
  }

  async submit() {
    const requestParams: ParamModel = {
      status: "新規",
      name: this.customer_name,
      email: this.email_address,
      subject: this.subject,
      description: this.description,
      orgid: Endpoint.MOCK_ORG_ID,
      type: this.subject == this.items[2] ? "入出金" : "その他",
      "00N2w00000YcYFl": this.otherStore.$state.serviceOpinion,
      "00N2w00000YcYH7": this.otherStore.$state.otherOpinion,
    };

    var customHiddenIframeName = "JLA_API";
    if (!document.getElementById(customHiddenIframeName)) {
      var theiFrame = document.createElement("iframe");
      theiFrame.id = customHiddenIframeName;
      theiFrame.name = customHiddenIframeName;
      theiFrame.src = "about:blank";
      theiFrame.style.display = "none";
      document.body.appendChild(theiFrame);
    }

    var form = document.createElement("form");
    form.method = "POST";
    form.action = Endpoint.WEB_TO_CASE;
    form.setAttribute("target", customHiddenIframeName);

    Object.entries(requestParams).forEach(([key, value]) => {
      console.log(key + " : " + value);
      var theInput = document.createElement("input");
      theInput.name = key;
      theInput.value = value;
      theInput.setAttribute("type", "hidden");
      form.appendChild(theInput);
    });

    document.body.appendChild(form);
    form.submit();
  }
}
</script>
