<template>
  <v-row>
    <v-col cols="12" sm="6" class="pt-0 pb-0">
      <div class="text-subtitle-1 text-medium-emphasis">アカウント ID</div>
      <v-text-field
        density="compact"
        variant="outlined"
        color="deep-purple accent-4"
      ></v-text-field>
    </v-col>
  </v-row>

  <v-row>
    <v-col cols="12" sm="6" class="pt-0 pb-0">
      <div class="text-subtitle-1 text-medium-emphasis">入出金区分</div>
      <v-select
        :items="items"
        density="compact"
        variant="outlined"
        color="deep-purple accent-4"
        v-model="type"
      ></v-select>
    </v-col>
  </v-row>
  <div v-if="isWithdrawCase">
    <v-row>
      <v-col cols="12" sm="6" class="pt-0 pb-0">
        <div class="text-subtitle-1 text-medium-emphasis">出金日</div>

        <DatePicker v-model="date" color="purple">
          <template #default="{ togglePopover, inputValue }">
            <v-text-field
              :value="inputValue"
              variant="outlined"
              color="deep-purple accent-4"
              density="compact"
              append-inner-icon="mdi-calendar"
              @click="() => togglePopover()"
            />
          </template>
        </DatePicker>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12" sm="6" class="pt-0 pb-0">
        <div class="text-subtitle-1 text-medium-emphasis">出金金額</div>
        <v-text-field
          suffix="円"
          color="deep-purple accent-4"
          variant="outlined"
          density="compact"
        ></v-text-field>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12" sm="6" class="pt-0 pb-0">
        <div class="text-subtitle-1 text-medium-emphasis">出金先銀行口座</div>
        <v-text-field
          density="compact"
          variant="outlined"
          color="deep-purple accent-4"
        ></v-text-field>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12" sm="6" class="pt-0 pb-0">
        <div class="text-subtitle-1 text-medium-emphasis">注文ID</div>
        <v-text-field
          density="compact"
          variant="outlined"
          color="deep-purple accent-4"
        ></v-text-field>
      </v-col>
    </v-row>
  </div>

  <v-row v-if="isTypeselected">
    <v-col cols="12" sm="6" class="pt-0 pb-0">
      <div class="text-subtitle-1 text-medium-emphasis">通信欄</div>
      <v-textarea
        auto-grow
        variant="outlined"
        rows="3"
        row-height="25"
        shaped
      ></v-textarea>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import { DatePicker } from "@mukurowz/v-calendar";

@Options({ components: { DatePicker } })
export default class MoneyForm extends Vue {
  public items = ["出金が反映されない", "その他"];
  public type = "";
  public date = "";

  get isWithdrawCase() {
    return this.type == this.items[0];
  }

  get isTypeselected() {
    return this.type != "";
  }
}
</script>
