<template>
  <v-row>
    <v-col cols="12" sm="6" class="pt-0 pb-0">
      <div class="text-subtitle-1 text-medium-emphasis">
        ご意見・ご要望の対象となるサービスを一つお選びください。
      </div>
      <v-radio-group
        v-model="serviceOpinion"
        @click:append="handleChangeServiceOpinion"
        column
      >
        <v-radio
          :label="item"
          color="deep-purple accent-4"
          :value="item"
          v-for="item in serviceOpinionItems"
          :key="item"
        ></v-radio>
      </v-radio-group>
    </v-col>

    <v-col cols="12" sm="6" class="pt-0 pb-0">
      <div class="text-subtitle-1 text-medium-emphasis">
        ご意見・ご要望に最も近い項目を一つお選びください。
      </div>
      <v-radio-group
        v-model="otherOpinion"
        @click:append="handleChangeOtherOpinion"
        column
      >
        <v-radio
          :label="item"
          color="deep-purple accent-4"
          :value="item"
          v-for="item in otherOpinionItems"
          :key="item"
        ></v-radio>
      </v-radio-group>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Vue } from "vue-class-component";
import { otherFormStore } from "@/store/otherFormStore";

export default class OtherForm extends Vue {
  public store = otherFormStore();

  public serviceOpinion = "";
  public serviceOpinionItems = [
    "ビットコイン販売所について",
    "ビットコイン取引所について",
    "プロ向け取引所（Lightning）について",
    "chainFlyer について",
    "掲載記事について",
    "その他",
  ];

  public otherOpinion = "";
  public otherOpinionItems = [
    "機能追加のご要望",
    "機能改善のご要望",
    "機能不具合のご報告",
    "サービスのご感想",
    "その他",
  ];

  handleChangeServiceOpinion() {
    this.store.$state.serviceOpinion = this.serviceOpinion;
  }

  handleChangeOtherOpinion() {
    this.store.$state.otherOpinion = this.otherOpinion;
  }
}
</script>
