<template>
  <v-toolbar color="deep-purple accent-4" dark class="pl-10">
    <v-icon size="45" color="white" icon="mdi-web-box"></v-icon>
    <v-toolbar-title><b>WEB</b>問合せデモ</v-toolbar-title>
  </v-toolbar>
</template>

<script lang="ts">
import { Vue } from "vue-class-component";

export default class Toolbar extends Vue {}
</script>
