<template>
  <v-app>
    <Toolbar />
    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import Toolbar from "@/components/Toolbar.vue";

@Options({ components: { Toolbar } })
export default class App extends Vue {}
</script>
